* {
	text-decoration: none;
	font-weight: normal;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

body {

	line-height: 20px;
	color: #937D63;
	margin: 3em 5em;
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	flex-wrap: wrap;
	font-family: serif;
}



a.event-link {
	color: #937D63;
}
a.event-link:hover .event-time {
	color: darkblue;
}

a.footer-link {
	color: #87B5D5;
	display: block;
}
a.footer-link:hover {
	color:darkblue;
}
.footer {
	position: absolute;
	top: 85%;
	width: 100%;
}

h2 {
	margin-bottom: 2em;
}

.title {
	width: 100%;
	align-self: stretch;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
	/*color: red;*/
}

.left-column, .right-column {
	width: 50%;
	float: left;
}
.left-column {
	min-width: 400px;
}




.event-time {
	color: #87B5D5;
}

.about {
	width: 600px;
}

.hero-image {
	/*margin-top: 45px;*/
	background-color: rgb(227, 57, 131);
	margin-bottom: 40px;
	width: 250px;
	height: 13em;
	/*float: left;*/
	margin-right: 35px;
}

body {
	background-color: blue;
}

@media (max-width: 600px) {
	.footer {
		position: relative;
		margin-top: 30px;
	}
	.hero-image {
		margin-top: 20px;
	}
}